@media screen and (max-width:1600px) {}

@media screen and (max-width:1440px) {}

@media screen and (max-width:1199px) {}

@media screen and (max-width:991px) {}

@media screen and (max-width:767px) {}

@media screen and (max-width:575px) {}

@media screen and (max-width:425px) {}

@media screen and (max-width:375px) {}

@media screen and (max-width:320px) {}