/* ===============================
   Font Faces
=============================== */
@font-face {
    font-family: "head-font";
    src: url("./assets/fonts/HeadFont.woff2") format("woff2"),
        url("./assets/fonts/HeadFont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "para-font";
    src: url("./assets/fonts/ParaFont.woff2") format("woff2"),
        url("./assets/fonts/ParaFont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* ===============================
   CSS Variables
=============================== */
:root {
    --primary-color: #32448d;
    --secondary-color: #2e4190;

    --hover-color: #ff0000;
    --text-color: #555;

    --font-head: "head-font", sans-serif;
    --font-para: "para-font", sans-serif;

    --white: #ffffff;
    --black: #000000;

    --transition: all 0.3s ease-in-out;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-para);
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--white);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-head);
    color: var(--black);
    line-height: 1.3;
}

p {
    font-family: var(--font-para);
    margin-bottom: 1rem;
}

h4{
    color: red;
}

h2{
    color: aqua;
}
a {
    text-decoration: none;
    color: inherit;
    transition: var(--transition);
}

a:hover {
    color: var(--hover-color);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 4px;
}


::selection {
    background-color: var(--primary-color);
    color: var(--white);
}