@font-face {
    font-family: "head-font";
    src: url("../fonts/Acumin-Variable-Concept.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "main-head-font";
    src: url("../fonts/fonnts.com-recoleta-regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "para-font";
    src: url("../fonts/WorkSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}


:root {
    --primary-color: #161729;
    --secondary-color: #FF3838;

    --hover-color: #ff0000;
    --text-color: #555;

    --font-head: "head-font", sans-serif;
    --main-head-font: "main-head-font";
    --font-para: "para-font", sans-serif;

    --white: #ffffff;
    --black: #000000;

    --transition: all 0.3s ease-in-out;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-para);
    font-size: 16px;
    line-height: 1.6;
    color: #e6e6f0;
    background-color: #161729;
    background-image:
        radial-gradient(circle at top left,
            rgba(120, 120, 255, 0.08),
            transparent 40%),
        radial-gradient(circle at bottom right,
            rgba(255, 80, 120, 0.08),
            transparent 40%),
        linear-gradient(180deg,
            #161729 0%,
            #121326 100%);

    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

h2 {
    font-family: var(--main-head-font) !important;
    font-weight: 900;
}

h1,

h3,
h4,
h5,
h6 {
    font-family: var(--font-head);
    color: var(--black);
    line-height: 1.3;
}

p {
    font-family: var(--font-para);
    margin-bottom: 1rem;
}


h2 {
    color: aqua;
}

a {
    text-decoration: none;
    color: inherit;
    transition: var(--transition);
}

a:hover {
    color: var(--hover-color);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 4px;
}


::selection {
    background-color: var(--primary-color);
    color: var(--white);
}


/* =============================================================================
                            commmon styles
================================================================================ */
.container-fluid {
    width: 80%;
}

.get-started-btn {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
    padding: 8px 0px 8px 22px;
    border-radius: 50px;
    background: linear-gradient(135deg, #ff6a00, #ee0979);
    color: #fff !important;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 12px 30px rgba(238, 9, 121, 0.35);
    overflow: hidden;
}

.get-started-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 16px 35px rgba(238, 9, 121, 0.45);
}

.get-started-btn .btn-text {
    white-space: nowrap;
}

.get-started-btn .btn-arrow {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: transform 0.3s ease, background 0.3s ease;
}

.get-started-btn:hover .btn-arrow {
    transform: translateX(5px);
    background: rgba(0, 0, 0, 0.35);
}

.sub-head {
    color: var(--secondary-color);
    font-size: 14px;
    padding-left: 60px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    margin-bottom: 12px;
}

.sub-head::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -0px;
    width: 50px;
    height: 2px;
    background: linear-gradient(90deg,
            transparent,
            var(--secondary-color));
    transform: translateY(-50%);
}

.main-head {
    color: #ffffff;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3;
    margin: 0;
}








/* ==============================header================================ */
.portfolio-navbar {
    background: radial-gradient(circle at top, #111827, #020617);

    /* background: linear-gradient(90deg, #0f0c29, #221d53, #24243e); */
    padding: 14px 0;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom: 2px solid var(--secondary-color);
    z-index: 999;
}

.portfolio-navbar .logo img {
    height: 42px;
    width: auto;
    object-fit: contain;
}

.nav-center {
    margin: auto;
    gap: 32px;
}

.portfolio-navbar .nav-link {
    color: var(--white) !important;
    font-size: 18px;
    font-weight: 600;
    font-family: var(--font-head);
    position: relative;
    transition: 0.3s ease;
}

.portfolio-navbar .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background: var(--secondary-color);
    transition: 0.3s ease;
}

.portfolio-navbar .nav-link:hover::after,
.portfolio-navbar .nav-link.active::after {
    width: 100%;
}

.portfolio-navbar .nav-link:hover,
.portfolio-navbar .nav-link.active {
    color: #fff !important;
}


.nav-social {
    display: flex;
    gap: 14px;
}

.nav-social a {
    color: #cfd3ff;
    font-size: 16px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.3s;
}

.nav-social a:hover {
    background: var(--secondary-color);
    color: #fff;
}

.menu-btn {
    background: none;
    border: none;
    font-size: 30px;
    color: #fff;
}

.portfolio-offcanvas {
    width: 100%;
    max-width: 340px;
    background: #0f0c29fd;
    color: #fff;
    border-right: 2px solid var(--secondary-color) !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.portfolio-offcanvas .logo {
    font-size: 22px;
    font-weight: 700;
}

.offcanvas-header-custom {
    padding: 20px 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.offcanvas-header-custom .logo img {
    height: 38px;
}

.offcanvas-header .btn-close {
    color: var(--white) !important;
}

.offcanvas-body-custom {
    padding: 32px 24px;
}

.offcanvas-nav-left {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.offcanvas-nav-left .nav-link {
    position: relative;
    padding: 12px 0;
    font-size: 16px;
    font-weight: 800;
    color: #ffffff !important;
    transition: 0.3s ease;
}

.offcanvas-nav-left .nav-link:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, 0.25),
            transparent);
    opacity: 0.5;
}

.offcanvas-nav-left .nav-link::before {
    content: "";
    position: absolute;
    left: -14px;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 0%;
    background: var(--secondary-color);
    border-radius: 10px;
    transition: 0.3s;
}

.offcanvas-nav-left .nav-link:hover,
.offcanvas-nav-left .nav-link.active {
    color: var(--secondary-color) !important;
    padding-left: 8px;
}

.offcanvas-nav-left .nav-link:hover::before,
.offcanvas-nav-left .nav-link.active::before {
    height: 70%;
}

.offcanvas-nav-left .get-started-btn {
    align-self: flex-start;
}

.offcanvas-footer-left {
    padding: 20px 24px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.offcanvas-footer-left p {
    font-size: 14px;
    opacity: 0.85;
    margin-bottom: 12px;
}

.offcanvas-social {
    display: flex;
    gap: 12px;
}

.offcanvas-social a {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: rgba(255, 255, 255, 0.08);
    color: #fff;
    transition: 0.3s;
}

.offcanvas-social a:hover {
    background: var(--secondary-color);
    transform: translateY(-3px);
}

.floating-menu {
    position: fixed;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;

    display: flex;
    align-items: center;
    gap: 28px;

    padding: 14px 26px;

    background: linear-gradient(135deg,
            rgba(15, 12, 41, 0.95),
            rgba(48, 43, 99, 0.95));
    backdrop-filter: blur(16px);

    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.08);

    box-shadow:
        0 12px 40px rgba(0, 0, 0, 0.45),
        inset 0 0 0 1px rgba(255, 255, 255, 0.03);

    transition: all 0.3s ease;
}

.floating-menu a {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

    min-width: 48px;

    color: #fff;
    font-size: 20px;
    text-decoration: none;
    opacity: 0.65;

    transition: all 0.25s ease;
}

.floating-menu span {
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.4px;
    opacity: 0.8;
}

.floating-menu a:hover,
.floating-menu a.active {
    opacity: 1;
    color: var(--secondary-color);
    transform: translateY(-6px) scale(1.05);
}

.floating-menu a::after {
    content: "";
    position: absolute;
    bottom: -10px;

    width: 6px;
    height: 6px;
    border-radius: 50%;

    background: var(--secondary-color);
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
}

.floating-menu a.active::after {
    opacity: 1;
    transform: scale(1);
}

.floating-menu a.active svg,
.floating-menu a:hover svg {
    filter: drop-shadow(0 0 10px rgba(255, 80, 120, 0.6));
}



/* ==============================================footer =================================*/
.mui-footer {
    background: radial-gradient(circle at top, #111827, #020617);
    color: #cbd5e1;
    padding: 70px 0 30px;
    font-size: 14px;
    border-top: 2px solid var(--secondary-color);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.footer-brand h5 {
    color: #fff;
    margin-top: 15px;
}

.brand-logo {
    background: linear-gradient(135deg, #2563eb, #22d3ee);
    color: #fff;
    width: 42px;
    height: 42px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.footer-text {
    max-width: 320px;
    margin: 12px 0;
}

.footer-title {
    color: #fff;
    margin-bottom: 12px;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 8px;
    cursor: pointer;
}

.footer-links li:hover {
    color: #38bdf8;
}

.hiring {
    background: #16a34a;
    color: #fff;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 6px;
    margin-left: 6px;
}

.footer-bottom {
    border-top: 1px solid #1e293b;
    margin-top: 40px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons svg {
    font-size: 18px;
    margin-left: 14px;
    cursor: pointer;
}

.social-icons svg:hover {
    color: #38bdf8;
}

/* =====================services section================= */
.services-inner {
    padding: 50px 0px;
}

.services-inner .container-fluid .header-wrap-1 {
    width: 90%;
    margin: 0px auto;
}

.services-inner .container-fluid {
    width: 100%;
}

.service-sec {
    overflow: hidden;
    width: 100%;
    padding: 20px 0;
    background: transparent;
}

.service-track {
    display: flex;
    gap: 30px;
    width: max-content;
    animation: marquee-left 45s linear infinite;
}

.service-card {
    flex: 0 0 auto;
    width: 350px;
    border-radius: 16px;
    overflow: hidden;
    transition: transform 0.3s ease;
    position: relative;
}

.service-content {
    width: 90% !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.service-arrow {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all 0.3s ease;
}

.service-arrow svg {
    font-size: 18px;
}

.service-card:hover .service-arrow {
    transform: translateX(6px);
    box-shadow: 0 8px 20px rgba(255, 56, 56, 0.45);
}

.service-content h4 {
    font-size: 20px;
    font-weight: 900;
    color: var(--white);
    margin-bottom: 0px !important;
}

.service-card {
    position: relative;
    overflow: hidden;
}

.service-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60%;
    background: linear-gradient(to top,
            rgba(2, 6, 23, 0.95),
            rgba(2, 6, 23, 0.4),
            transparent);
    pointer-events: none;
}

.service-content {
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 2;
    color: #fff;
}


.service-card:hover {
    transform: scale(1.05);
}

@keyframes marquee-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.service-sec:hover .service-track {
    animation-play-state: paused;
}

.service-sec {
    margin: 20px 0px;
}

/* ===============test marqiue section======================= */
.text-marquee {
    width: 100%;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.marquee-track {
    display: flex;
    width: max-content;
    will-change: transform;
    transform: rotate(-5.5deg);
}

.marquee-left {
    animation: marquee-rtl 42s linear infinite;
}

@keyframes marquee-rtl {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-50%, 0, 0);
    }
}

.bi-text-scroll-item-1 {
    display: flex;
    align-items: center;
}

.bi-text-scroll-item-1 h3 {
    position: relative;
    font-size: 110px;
    font-weight: 400;
    margin: 0 60px 0 32px;
    white-space: nowrap;
    letter-spacing: 3px;
    text-transform: uppercase;

    -webkit-text-stroke: 2px var(--secondary-color);
    -webkit-text-fill-color: transparent;

    opacity: 0.9;
}

.bi-text-scroll-item-1 h3::after {
    content: "";
    position: absolute;
    right: -48px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 14px;
    height: 14px;
    background: var(--secondary-color);
    opacity: 0.85;
}

.text-marquee:hover .marquee-left {
    animation-play-state: paused;
}

@media (max-width: 768px) {
    .bi-text-scroll-item-1 h3 {
        font-size: 64px;
        letter-spacing: 1.5px;
        margin: 0 40px 0 16px;
    }

    .bi-text-scroll-item-1 h3::after {
        width: 12px;
        right: -24px;
    }
}